.sports-container.dark-mode {
    background-color: #333;
    color: #fff;
}

.sports-card {
    height: 100%;
}

.sports-card img {
    object-fit: cover;
}

.sports-card h5 {
    color: #fff;
}

.sports-card .card-text {
    color: #ddd;
}

.sports-card .text-muted {
    color: #bbb;
}